{% extends 'base.html.twig' %}

{% block title %}My Blog
{% endblock %}

{% block body %}


	<div class="example-wrapper">
		<h1>Bienvenue sur mon blog</h1>
		<br>
		Retrouvez sur cette page les derniers articles postés
	</div>
{% endblock %}
