{% extends 'base.html.twig' %}

{% block title %}My Blog
{% endblock %}

{% block body %}


	<div class="example-wrapper">
		<h1>Bienvenue sur mon blog</h1>
		<br>
		Retrouvez sur cette page les derniers articles postés
	</div>
	<div class="row">
		{% for article in articles %}
			<div class="col-sm-4 col-lg-4 col-md-4">
				<div class="card" style="width: 18rem;">
					<div class="card_body">{{ article.title }}</div>
					<a href="{{ path('article_show', {'id': article.id})}}" class="btn btn-primary">Lire</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
