{% extends 'base.html.twig' %}

{% block title %}
	Nouvel article
{% endblock %}

{% block body %}
	<div class="row">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		{% if editMode %}
			<button type="submit" class="btn btn-success pull-right">Modifier</button>
			<a href="{{ path('article_delete', {'id': article.id})}}" class="btn btn-danger">Supprimer</a>
		{% else %}
			<button type="submit" class="btn btn-success pull-right">Ajouter</button>
		{% endif %}
		{{ form_end(form) }}
	</div>
{% endblock %}
